.header {
    background-color: rgb(2, 0, 20);
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.encabezado-boton{
    background-color: rgb(2, 0, 20);
    border: none;
    display: none;
}
.encabezado-svg{
    width: 3em;
    height: 3em;
    color: white;
}
.encabezado-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.encavezado-li{
    margin: 0 .5em;
}
@media screen and (max-width:480px){
    .encabezado-boton{
        display: flex;
    }
    .emcabezado-nav{
        width: 100%;

        display: none;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .emcabezado-nav.isActive{
        display: flex;
    }
    .encabezado-ul{
        flex-direction: column;
    }
    .encavezado-li{
        margin: .5em 0;
    }
}
