.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Form {
    text-align: center;
}

.Inp {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    width: 70%;
    max-width: 300px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 50px; 
}

.Cancelar,
.Inicio {
    flex: 1;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.Cancelar {
    background-color: red;
    margin-left: 40px;
}

.Inicio {
    background-color: blue;
    margin-right: 40px;
}